.menu{
    background-color: var(--colorBackHead);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8rem;
    width: 100vw;
}

.menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    width: 25px;
}

.menu__title {
    color: var(--colorFontTitle);
    font-family: 'Amaranth', sans-serif;
    font-size: 1.2rem;
    margin-left: .3rem;
}
.menu__list__item__contact {
    color: var(--colorFontNormal);
    justify-content: flex-end;
    font-size: .7rem;
}

.menu__list {
    display: none;
}