.menu{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    padding: .8rem;
    position: sticky;
    top: 0;
    width: 100vw;
}

.menu__header {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.header__logo {
    width: 25px;
}

.menu__title {
    color: var(--colorFontTitle);
    font-family: 'Amaranth', sans-serif;
    font-size: 1.2rem;
    margin-left: .3rem;
}
.menu__list__item__contact {
    color: var(--colorFontNormal);
    justify-content: flex-end;
    font-size: .7rem;
    transition: color 1s;
}
.menu__list__item__contact a:hover {
    color: var(--colorFontHover);
}

.menu__list {
    display: none;
}

@media screen and (min-width: 1024px) {
    .menu__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-right: 1.2rem;
    }
    .menu__list__item {
        margin-right: .9rem;
    }
    .menu__list__item__contact {
        display: none;
    }
}