.hero {
    background: url("/assets/img/setup.png") center;
    background-size: cover;
}
.hero__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;    
    backdrop-filter: blur(10px);
}

.hero__profile {
    padding: .5rem .8rem;
    width: 6rem;
    border-radius: 100px;
}

.hero__subsection {
    color: var(--colorBackHead);
    font-size: 1.5em;
    padding: .5rem .8rem;
    text-align: center;
    font-weight: 400;
}

.about__paragraph {
    padding: .5rem .8rem;
    text-align: center;
    font-weight: 200;
    color: var(--colorFontNormal);
}

.hero__network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__network__item {
    font-size: .8rem;
    align-items: center;
    padding: .3rem;
    margin: .2rem .4rem;
    border-radius: 5px;
    transition: color 1s;
}
.hero__network__item a {
    color: var(--colorBackHead);
}
.hero__network__item a:hover {
    color: var(--colorFontHover);
}
.network__logo {
    width: .9rem;
    padding-left: .2rem;
}

@media screen and (min-width:768px) {
    .hero__div {
        flex-direction: row-reverse;
        text-align: left;
    }
    .hero__profile {
        width: 9rem;
    }
    .hero__network {
        justify-content: flex-start;
    }
}
